<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCFD</title>
    <link href="{{ url_for('static', filename='css/credit.css') }}" rel="stylesheet">
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CCFD</title>
    </head>
    <body>
        
    </head>
    <body>
        <h1>Welcome to Credit Card Fraud Detection Prediction Page</h1>
       
        <h3>Enter the details</h3>
        <div class="container">
            <form action="/credit_predict" method="POST">
              <div class="row">
                <div class="col-25">
                  <label for="text">Time</label>
                </div>
                <div class="col-75">
                  <input type="text" id="time" name="time" placeholder="Enter the time">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="text">V1</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v1" name="v1" placeholder="Enter the v1 value">
                </div>
              <div class="row">
                <div class="col-25">
                  <label for="text">V2</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v2" name="v2" placeholder="Enter the v2 value">
                </div>
               
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="text">V3</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v3" name="v3" placeholder="Enter the v3 value" >
                </div>
               
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="text">V4</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v4" name="v4"placeholder="Enter the v4 value">
                </div>
               
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="text">V5</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v5" name="v5" placeholder="Enter the v5 value">
                </div>
               
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="text">V6</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v6" name="v6"placeholder="Enter the v6 value">
                </div>
               
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="active">V7</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v7" name="v7"placeholder="Enter the v7 value">
                </div>
               
              </div>
              
     
              <div class="row">
                <div class="col-25">
                  <label for="glue">V8</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v8" name="v8" placeholder="Enter the v8 value">
                </div>
               
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="text">V9</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v9" name="v9" placeholder="Enter the v9 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V10</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v10" name="v10" placeholder="Enter the v10 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V11</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v11" name="v11" placeholder="Enter the v11 value">
                </div>
               
              </div>


              <div class="row">
                <div class="col-25">
                  <label for="text">V12</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v12" name="v12" placeholder="Enter the v12 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V13</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v13" name="v13" placeholder="Enter the v13 value">
                </div>
               
              </div>
              
              <div class="row">
                <div class="col-25">
                  <label for="text">V14</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v14" name="v14" placeholder="Enter the v14 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V15</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v15" name="v15" placeholder="Enter the v15 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V16</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v16" name="v16" placeholder="Enter the v16 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V17</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v17" name="v17" placeholder="Enter the v17 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V18</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v18" name="v18" placeholder="Enter the v18 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V19</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v19" name="v19" placeholder="Enter the v19 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V20</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v20" name="v20" placeholder="Enter the v20 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V21</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v21" name="v21" placeholder="Enter the v21 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V22</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v22" name="v22" placeholder="Enter the v22 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V23</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v23" name="v23" placeholder="Enter the v23 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V24</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v24" name="v24" placeholder="Enter the v24 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V25</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v25" name="v25" placeholder="Enter the v25 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V26</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v26" name="v26" placeholder="Enter the v26 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V27</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v27" name="v27" placeholder="Enter the v27 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V28</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v28" name="v28" placeholder="Enter the v28 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">Amount</label>
                </div>
                <div class="col-75">
                  <input type="text" id="amount" name="amount" placeholder="Enter the amount">
                </div>
               
              </div>
       
            </form>
            <div class="row">
                <input type="submit" value="Submit">
              </div>
          </div>
    </body>
    </html>
    
</body>
</html>
