<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='result.css')}}"> -->
        <title>Credit Card Fraud Detection</title>
        <style>
            h1
            {color:gray;
            }
            body{
                background-color:  black;
            }
            </style>
    </head>
    <body>

        <div class="container" allign = 'left' >
            <a href="/credit_csv_result" target="blank"><button class='btn btn-default'>Download!</button></a>
       </div>


    </body>
</html>