<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Fraud Detection</title>
   
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    
</head>
<body>
  <div class="navbar">
    <a href="index.html">Home</a>
   
    <div class="dropdown">
      <button class="dropbtn">Select Input
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <!-- <a href="diabetes.html">CSV</a> -->
        <a href="credit.html">Manual Input</a>
        <a href="credit_csv.html">CSV</a>
        
     

      </div>
      </div>
  <h1>Credit Card Fraud Detection</h1>
  <div class="content1">
    <h2>
      Prevention is
      <br>
      Better than Cure
  
    </h2>
  
  
  </div>
  
  <div class="animation">
  <img src="static/img1.jfif" width=550px height=290px  >
  </div>

  <div class="para1">
    <p>
      Credit card fraud detection is the process of identifying purchase attempts 
      that  are fraudulent <br><br> and rejecting them rather than processing the order. There area variety of 
      <br><br>tools and techniques available for detecting fraud a variety of tools and techniques available<br><br>  
      for detecting fraud, with most merchants employing a combination of several of them.
     
    </p>

    </div>
    
</body>
</html>